{% extends "layouts/base_background.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow-blur">
          <div class="card-body">
            <h3 class="card-title text-center">Delete redactor</h3>
            <p class="text-center">
              <i>
              Are you sure you want to delete <strong>{{ redactor.first_name }} {{ redactor.last_name }}</strong> from redactors??
              </i>
            </p>
            <form action="" method="post">
              {% csrf_token %}
              <div class="d-flex justify-content-center" style="gap: 10px;">
                <button type="submit" class="btn btn-danger">Yes, delete</button>
                <a href="{% url 'agency:redactor-list' %}" class="btn btn-secondary">Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
