{% extends "base.html" %}

{% block content %}
  <h1>Topics list:
    <a style="float: inherit" href="{% url 'agency:topic-create' %}">+</a>
  </h1>

  {% if topic_list %}
    <ul>
    {% for topic in topic_list %}
      <li>
        {{ topic.name }}
        <a href="{% url 'agency:topic-update' pk=topic.id %}">UPDATE</a>
        <a style="color: red" href="{% url 'agency:topic-delete' pk=topic.id %}">DELETE</a>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>There are no topics in newspaper agency</p>
  {% endif %}

{% endblock %}