<footer class="footer py-5">
  <div class="container z-index-1 position-relative text-center">
    <div class="row justify-content-center">
      <!-- Social Media Icons Section -->
      <div class="col-lg-8">
        <ul class="nav justify-content-center mb-3">
          <!-- Add only necessary social links -->
          <li class="nav-item">
            <a href="https://github.com/yura-push" target="_blank" class="text-dark me-4 opacity-8">
              <span class="fab fa-github fa-2x"></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.facebook.com/share/15PaPppVYs/?mibextid=LQQJ4d" target="_blank" class="text-dark me-4 opacity-8">
              <span class="fab fa-facebook fa-2x"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Project Description Section -->
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <p class="text-md font-weight-normal text-dark mb-2">This project was created for educational purposes.</p>
      </div>
    </div>

    <!-- Copyright Section -->
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <p class="text-sm text-dark mb-0">© 2024 Yurii Push.</p>
      </div>
    </div>
  </div>
</footer>
<!-- -------- END FOOTER ------- -->